.home-main-container {
  background-color: #000000;
  color: #a5a5a5;
}

.feed-container {
  padding: 5rem 0rem;
  width: 34%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-post-container {
  width: 100%;
  margin-top: 2rem;
  padding: 14px 0;
}
.profile-input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 14px;
}
.post-input {
  width: 400px;
}
.post-input input {
  outline: none;
  cursor: pointer;
  color: #fff;
}

.create-post-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.image-file-input {
  display: none;
  align-self: flex-end;
}
.upload-image-container {
  width: 28px;
  cursor: pointer;
}

.feed-post-button {
  background-color: #0095f6;
  color: #fff;
  border: none;

  padding: 6px 16px;
  cursor: pointer;

  border-radius: 4px;
  text-transform: capitalize;
}

.profile-picture {
  height: 100px;
  width: 10px;
  background-color: #262626;
  border-radius: 100%;
  border: 1px solid purple;
}

.profile-input-container input {
  width: 100%;
  background-color: #262626;
  padding: 12px;
  /* border: 0.1px solid #666666; */
  border-radius: 8px;
  border-style: none;
}
.user-feed-filter-container {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.filters-main-container {
  position: absolute;
  right: 0;
  padding: 6px 34px;
  /* border: 1px solid purple; */
  background-color: #262626;
  text-align: center;
}
.filter-button {
  padding: 6px 0;
  cursor: pointer;
}
.filter-cancel-button {
  width: 18px;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .home-main-container {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
  }
}
