.home-main-container {
  background-color: #000000;
  color: #a5a5a5;
  position: relative;
}

.home-feed-container {
  padding: 5rem 0rem;
  width: 34%;
  /* height: 100vh; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.loader {
  margin: -8rem 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-feed-filter-container {
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  position: relative;

  margin-top: 1.5rem;
}

.user-feed-filter-container p {
  padding-left: 16px;
}
.filtered-post {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.user-feed-filter-container img {
  padding-right: 16px;
}
.filters-main-container {
  position: absolute;
  right: 16px;
  top: 10px;
  padding: 6px 34px;
  /* border: 1px solid purple; */
  color: #fff;
  background-color: #262626;
  font-size: 14px;
  text-align: center;
  z-index: 1;
}
.filter-button {
  padding: 6px 0;
  cursor: pointer;
}
.filter-cancel-button {
  width: 18px;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .home-main-container {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .home-feed-container {
    width: 100%;
  }
}
