.post-main-container {
  /* border: 1px solid purple; */
  width: 100%;
  padding: 1.5rem 0;
  margin-bottom: 6rem;
  border-bottom: 1px solid #262626;
}
.modal-check {
  border: 1px solid red;
}
.post-head {
  position: relative;
  /* border: 1px solid purple; */
  display: flex;
  gap: 1rem;
  padding: 6px 16px;
  /* border: 1px solid red; */
}
.post-options-container {
  position: absolute;
  right: 16px;

  cursor: pointer;
  /* border: 1px solid purple; */
}
.post-options-container img {
  width: 20px;
}

.user-picture {
  height: 40px;
  width: 40px;
  background-color: #262626;
  border-radius: 100px;
  overflow: hidden;
}
.user-picture img {
  width: 100%;
}
.user-name-username {
  color: #fff;
}
.user-name {
  font-size: 14px;
  font-weight: 600;
}
.user-username {
  font-size: 12px;
}
.post-date {
  font-size: 14px;
}
.options {
  padding: 6px 1.5rem;
  /* border: 1px solid red; */
  position: absolute;
  right: 16px;
  background-color: #262626;

  line-height: 6px;
}
.option-text {
  cursor: pointer;
}
.cancel-button {
  position: absolute;
  right: 0;
  width: 20px;

  cursor: pointer;
}

.post-content-container {
  padding: 12px 2px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.post-content {
  padding: 12px 16px;
}
.post-image-container {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
}

.post-image {
  object-fit: cover;
  width: 100%;
}

.post-foot {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0 16px;
  /* border: 1px solid red; */
}
.post-like-image {
  width: 25px;
  cursor: pointer;
}

.post-comment > img {
  width: 30px;
  cursor: pointer;
}

.post-bookmark-image {
  width: 16px;
  cursor: pointer;
}
