.top-nav-main-container {
  background-color: #000000;
  /* border-top: 1px solid #a8a8a8; */
  border-bottom: 0.1px solid #666666;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
}

.bottom-nav-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  padding: 1.5rem 0;

  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000000;
  border-top: 0.1px solid #666666;
}

.side-nav-main-container {
  height: 100vh;
  padding: 6rem 0;
  display: none;

  position: fixed;
  text-align: center;
  top: 0;
  left: 0;

  border-right: 0.1px solid #666666;
}
.icon-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-nav-main-container {
    display: none;
  }
  .bottom-nav-main-container {
    display: none;
  }
  .side-nav-main-container {
    display: block;
  }
}

@media screen and (min-width: 1264px) {
  .icon-text {
    display: block;
  }
}
