@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.navLink {
  text-decoration: none;
}
.navLink:focus {
  text-decoration: none;
  color: #a5a5a5;
}
.navLink:hover {
  text-decoration: none;
  color: #a5a5a5;
}
.navLink:visited {
  text-decoration: none;
  color: #a5a5a5;
}
.navLink:link {
  text-decoration: none;
  color: #a5a5a5;
}
.navLink:active {
  text-decoration: none;
  color: #a5a5a5;
}

.top-nav-main-container {
  font-size: 22px;
  background-color: #000000;
  /* border-top: 1px solid #a8a8a8; */
  border-bottom: 0.1px solid #666666;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.5rem;

  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.text-nav-logo {
  font-family: "Satisfy", cursive;
}
.search-suggestion-container {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}
.top-nav-search-container {
  position: relative;
}
.top-nav-search-container img {
  position: absolute;
  right: 12px;
  top: 6px;

  /* margin-right: 4px; */
}
.top-nav-search-container input {
  font-size: 16px;
  padding: 6px 6px;
  background-color: #262626;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  outline: none;
}
.suggestion-container {
  margin-top: 8px;
}
.search-result-main-container {
  padding: 6px 8px;
  position: absolute;
  background-color: #262626;
  font-size: 14px;
  overflow-y: scroll;
  top: 2.6rem;
}
.user-picture-search {
  height: 40px;
  width: 40px;
  background-color: #262626;
  border-radius: 100px;
  overflow: hidden;
}
.user-picture-search img {
  width: 100%;
}
.bottom-nav-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 2px; */

  padding: 1.5rem auto;

  position: fixed;

  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000000;
  border-top: 0.1px solid #666666;
  /* border: 1px solid red; */
}

.side-nav {
  position: relative;
}
.side-nav-main-container {
  color: #ffffff;
  height: 100vh;
  padding: 1rem 0;
  display: none;

  position: fixed;
  text-align: center;
  top: 0;
  left: 0;

  border-right: 0.6px solid #373737;
  /* border: 1px solid red; */
}

.side-logo-container {
  /* border: 1px solid red; */
  margin-bottom: 24px;
  padding-left: 18px;
  display: flex;
}
.icon-text {
  display: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.logos-text {
  font-family: "Satisfy", cursive;
  font-size: 24px;
}
.side-home {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  margin-bottom: 8px;
  /* margin-top: 8px; */
  padding: 12px 3rem 12px 20px;
  /* border: 1px solid red; */
}
.side-home img {
  width: 26px;
}
.side-home:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 140px 12px 20px;
}
.side-search-container:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-search-container img {
  width: 24px;
}
.side-explorer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 20px;
}

.side-explorer:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-explorer img {
  width: 24px;
}
.side-create-post {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 20px;
}
.side-create-post:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-create-post img {
  width: 24px;
}
.side-bookmark {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 20px;
}
.side-bookmark:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-bookmark img {
  width: 16px;
}
.side-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 16px;
}
.side-profile-pic {
  height: 30px;
  width: 30px;
  background-color: #262626;
  border-radius: 100px;
  overflow: hidden;
}
.side-profile-pic img {
  width: 100%;
}

.side-profile:hover {
  background-color: #262626;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .side-home {
    padding: 12px 20px 12px 26px;
    /* border: 1px solid purple; */
  }
  .side-explorer {
    padding: 12px 20px 12px 26px;
  }
  .side-create-post {
    padding: 12px 20px 12px 26px;
  }
  .side-bookmark {
    padding: 12px 20px 12px 26px;
  }
  .side-profile {
    padding: 12px 20px 12px 30px;
  }
}
@media screen and (min-width: 768px) {
  .top-nav-main-container {
    display: none;
  }
  .bottom-nav-main-container {
    display: none;
  }
  .side-nav-main-container {
    display: block;
  }
  .side-home {
    padding: 12px 20px 12px 20px;
  }
  .side-search-container {
    padding: 12px 12px 12px 20px;
  }
  .side-explorer {
    padding: 12px 12px 12px 20px;
  }
  .side-create-post {
    padding: 12px 12px 12px 20px;
  }
  .side-bookmark {
    padding: 12px 12px 12px 20px;
  }
  .side-profile {
    padding: 12px 12px 12px 16px;
  }
}

@media screen and (min-width: 1264px) {
  .icon-text {
    display: block;
  }
  .side-logo {
    display: none;
  }
}
