.top-nav-main-container {
  background-color: #000000;
  /* border-top: 1px solid #a8a8a8; */
  border-bottom: 0.1px solid #666666;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
}

.bottom-nav-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  padding: 1.5rem 0;

  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000000;
  border-top: 0.1px solid #666666;
}

.side-nav-main-container {
  height: 100vh;
  padding: 3rem 0;
  display: none;

  position: fixed;
  text-align: center;
  top: 0;
  left: 0;

  border-right: 0.1px solid #262626;
  /* border: 1px solid red; */
}
.side-logo-container {
  margin-bottom: 34px;
  padding-left: 18px;
  display: flex;
}
.side-home {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 12px;
}
.side-home img {
  width: 26px;
}
.side-home:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 140px 12px 12px;
}
.side-search-container:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-search-container img {
  width: 24px;
}
.side-explorer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 12px;
}
.side-explorer:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-explorer img {
  width: 24px;
}
.side-create-post {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 12px;
}
.side-create-post:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-create-post img {
  width: 24px;
}
.side-bookmark {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 12px;
}
.side-bookmark:hover {
  background-color: #262626;
  cursor: pointer;
}
.side-bookmark img {
  width: 16px;
}
.side-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 8px;
  padding: 12px 3rem 12px 8px;
}
.side-profile-pic {
  height: 30px;
  width: 30px;
  background-color: #262626;
  border-radius: 100px;
}
.side-profile:hover {
  background-color: #262626;
  cursor: pointer;
}
.icon-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-nav-main-container {
    display: none;
  }
  .bottom-nav-main-container {
    display: none;
  }
  .side-nav-main-container {
    display: block;
  }
}

@media screen and (min-width: 1264px) {
  .icon-text {
    display: block;
  }
}
